<h1>Portail Bocal</h1>

Scanner un code QR ou entrer un matricule

<form action="/portail" method="post">
    <div>
        <label for="username">Matricule</label>
        <input type="text" id="username" name="username" required>
    </div>
    <button type="submit"> Voir</button>


<table>
    <tr>
        <td> Matricule: </td>
        <td> <%= matricule %></td>
    </tr>
    <tr>
        <td> Prénom: </td>
        <td> à venir</td>
    </tr>
    <tr>
        <td> Nom: </td>
        <td> à venir</td>
    </tr>
    <tr>
        <td> Courriel: </td>
        <td> à venir</td>
    </tr>
    <tr> <td> avertissements: </td></h2>
    <tr>
        <td>
           
                <div>
                    <label for="avis">Ajouter un avis:</label>
                    <input type="text" id="avis" name="avis" required>
                </div>
               
            
        </td>
    </tr>
    <tr>
        <td> Comportement: </td>
        <td> à venir</td>
        <td> <button> ajouter </button> </td>
    </tr>
    <tr>
        <td> Retard: </td>
        <td> à venir</td>
        <td> <button> ajouter </button> </td>
    </tr>
    <tr>
        <td> Uniforme: </td>
        <td> à venir</td>
        <td> <button> ajouter </button> </td>
    </tr>
</table>

</form>